.row {
    padding-top: 10px;
}
.row__movies {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 10px;
}

.row__movies::-webkit-scrollbar {
    visibility: hidden;
}

.row > h2 {
    font-size: 1.4rem;
}